<% if @name %>
<h1>My name is <%= @name %> <%= @last_name %></h1>
<% end %>

<form action="/named-cat">
  <div>
    <label for="name">Kitten's Name:</label>
    <input type="text" name="firstname" >
  </div>
  <div>
    <label for="name">Kitten's Surname:</label>
    <input type="text" name="surname" >
    <input type="submit" value="Submit" >
  </div>
</form>

<div style='border: 20px inset purple'>
  <img src='http://bit.ly/1eze8aE'>
  </div>
